<section class="description-section">

  <p class="ribbon left-ribbon ribbon-noclick">
    nominate some games and then choose one randomly
  </p>

  <button class="ribbon right-ribbon" ng-class="{transparent: nomrand.nomineesArray.length < 1}" ng-click="nomrand.doneNominating()" type="button">
    random game
  </button>

  <div class="clearfix"></div>

</section>

<ul class="gamelist" ng-hide="nomrand.randomGame">
  <li class="ribbon gamelist-ribbon right-ribbon" ng-repeat="game in nomrand.collection">
    <div class="nominate-checkbox">
      <input id="{{game.objectID}}" ng-click="nomrand.addNominee()" ng-model="game.nominated" type="checkbox" value="nominated">
      <label for="{{game.objectID}}">
        <div class="x-mark x-mark-front"></div>
        <div class="x-mark x-mark-back"></div>
      </label>
    </div>
    <img ng-src="{{game.image.thumbnailURL}}"/>
    <div class="aside-wrapper">
      <h3>{{game.name}}</h3>
      <aside>{{game.playerCount.min}} to {{game.playerCount.max}} players</aside>
      <aside>{{game.playTime.max}} minutes</aside>
    </div>
  </li>
  <div class="clearfix"></div>
</ul>

<div class="gamelist results-outer-div">

  <section class="ribbon right-ribbon ribbon-noclick results" ng-class="{onFromScreenRight: nomrand.randomGame}">
    <img ng-src="{{nomrand.randomGame.image.imageURL}}"/>
    <div class="aside-wrapper">
      <h3>{{nomrand.randomGame.name}}</h3>
    </div>
  </section>

</div>
