<p>
  In this method, you start by nominating games to play. Once you are finished nominating, click 'done nominating' and a random game will be selected from the ist of nominees.
</p>
<button ng-show="nomrand.nomineesArray.length > 0" ng-click="nomrand.doneNominating()" type="button">Done Nominating</button>

<ul ng-hide="nomrand.randomGame">
  <li ng-repeat="game in nomrand.collection">
    {{game.name}}
    <input ng-click="nomrand.addNominee()" ng-model="game.nominated" type="checkbox" value="nominated">
  </li>
</ul>

<h2 ng-show="nomrand.randomGame">{{nomrand.randomGame.name}}</h2>
