<section class="description-section">

  <p class="ribbon left-ribbon ribbon-noclick">
    press the button to have a game randomly chosen for you
  </p>

  <button class="ribbon right-ribbon" type="button" ng-click="random.chooseRandomGame()">Choose Random Game</button>

  <div class="clearfix"></div>

</section>

<ul class="gamelist" ng-hide="random.randomGame">
  <li class="ribbon gamelist-ribbon right-ribbon ribbon-noclick" ng-repeat="game in random.collection">
    <img ng-src="{{game.image.thumbnailURL}}"/>
    <div class="aside-wrapper">
      <h3>{{game.name}}</h3>
      <aside>{{game.playerCount.min}} to {{game.playerCount.max}} players</aside>
      <aside>{{game.playTime.max}} minutes</aside>
    </div>
  </li>
  <div class="clearfix"></div>
</ul>

<div class="gamelist">
  <section class="ribbon right-ribbon ribbon-noclick results" ng-show="random.randomGame">
    <img ng-src="{{random.randomGame.image.imageURL}}"/>
    <div class="aside-wrapper">
      <h3>{{random.randomGame.name}}</h3>
    </div>
  </section>
</div>
