<section class="description-section">

  <p class="ribbon left-ribbon ribbon-noclick">
    nominate games and then vote on them. the game with the most votes wins.
  </p>

  <button class="ribbon right-ribbon" ng-class="{transparent: vote.nomineesArray.length < 1}" ng-show="vote.showCollection" ng-click="vote.doneNominating()" type="button">
    done nominating
  </button>

  <div class="clearfix"></div>

</section>

<ul class="gamelist" ng-show="vote.showCollection">
  <li class="ribbon gamelist-ribbon right-ribbon" ng-repeat="game in vote.collection">
    <div class="nominate-checkbox">
      <input id="{{game.objectID}}" ng-click="vote.addNominee()" ng-model="game.nominated" type="checkbox" value="nominated">
      <label for="{{game.objectID}}">
        <div class="x-mark x-mark-front"></div>
        <div class="x-mark x-mark-back"></div>
      </label>
    </div>
    <img ng-src="{{game.image.thumbnailURL}}"/>
    <div class="aside-wrapper">
      <h3>{{game.name}}</h3>
      <aside>{{game.playerCount.min}} to {{game.playerCount.max}} players</aside>
      <aside>{{game.playTime.max}} minutes</aside>
    </div>
  </li>
  <div class="clearfix"></div>
</ul>

<button ng-show="vote.showNominees" ng-click="vote.showWinner()" type="button">
  done voting
</button>

<ul ng-show="vote.showNominees">
  <li ng-repeat="game in vote.nomineesArray">
    {{game.name}}
    <button ng-click="vote.voteForGame(game)" pop-up-note="voted!" type="button">+</button>
    <aside ng-show="game.verify">voted!</aside>
  </li>
</ul>

<h2 ng-show="vote.winner">{{vote.winner.name}} (With {{vote.winner.votes}} votes)</h2>
