<a id="vote-top"></a>
<section class="description-section">

  <p class="ribbon left-ribbon ribbon-noclick">
    nominate games and then vote on them. the game with the most votes wins.
  </p>

  <button class="ribbon right-ribbon" ng-class="{transparent: vote.nomineesArray.length < 1}" ng-show="vote.showCollection" ng-click="vote.doneNominating()" type="button">
    done nominating
  </button>

  <button class="ribbon right-ribbon" ng-show="vote.showNominees" ng-click="vote.showWinner()" type="button">
    done voting
  </button>

  <div class="clearfix"></div>

</section>

<ul class="gamelist" ng-show="vote.showCollection">
  <li class="ribbon gamelist-ribbon right-ribbon" ng-repeat="game in vote.collection">
    <div class="nominate-checkbox">
      <input id="{{game.objectID}}" ng-click="vote.addNominee()" ng-model="game.nominated" type="checkbox" value="nominated">
      <label for="{{game.objectID}}">
        <div class="x-mark x-mark-front"></div>
        <div class="x-mark x-mark-back"></div>
      </label>
    </div>
    <img ng-src="{{game.image.thumbnailURL}}"/>
    <div class="aside-wrapper">
      <h3>{{game.name}}</h3>
      <aside>{{game.playerCount.min}} to {{game.playerCount.max}} players</aside>
      <aside>{{game.playTime.max}} minutes</aside>
    </div>
  </li>
  <div class="clearfix"></div>
</ul>

<ul class="gamelist" ng-show="vote.showNominees">
  <li class="ribbon gamelist-ribbon right-ribbon" ng-repeat="game in vote.nomineesArray">
    <div class="vote-button">
      <div class="vote-button-center">
        <button ng-click="vote.voteForGame(game)" pop-up-note="voted!" type="button">
          <div class="plus-mark plus-mark-front"></div>
          <div class="plus-mark plus-mark-back"></div>
        </button>
      </div>
    </div>
    <img ng-src="{{game.image.thumbnailURL}}"/>
    <div class="aside-wrapper">
      <h3>{{game.name}}</h3>
      <aside>{{game.playerCount.min}} to {{game.playerCount.max}} players</aside>
      <aside>{{game.playTime.max}} minutes</aside>
    </div>
  </li>
  <div class="clearfix"></div>
</ul>

<div class="gamelist">

  <section class="ribbon right-ribbon ribbon-noclick results" ng-show="vote.winner">
    <img ng-src="{{vote.winner.games[0].image.imageURL}}"/>
    <div class="aside-wrapper">
      <h3>{{vote.winner.name}} (With {{vote.winner.votes}} votes)</h3>
    </div>
  </section>

</div>
