@media screen and (max-width: 360px){
  .gamelist-ribbon{
    img{
      max-width: 60px;
    }
  }
}

@media screen and (min-width: 501px) and (max-width: 650px){
  .logosmall{
    width: 15%;
  }
  .logolarge{
    width: 50%;
    margin-top: 12%;
    margin-bottom: 15%;
  }
  .gamelist-ribbon img{
    max-width: 160px;
    height: 85px;
  }
  .nominate-checkbox{
    top: 28px;
  }
  .vote-button{
    top: 28px;
  }
}

@media screen and (min-width: 651px) and (max-width: 800px){
  .logosmall{
    width: 13%;
  }
  .logolarge{
    width: 50%;
    margin-left: 20%;
    margin-top: 8%;
    margin-bottom: 10%;
  }
  .gamelist-ribbon img{
    max-width: 210px;
    height: 100px;
  }
  .select-ribbon{
    width: 109%;
    margin-right: -20%;
    border: none;
    background-color: transparent;
    font-size: 1em;
    font-family: 'Libre Baskerville', serif;
    color: #A9A9AE;
    -webkit-appearance: none;
    &:focus{
      border: none;
      box-shadow: none;
    }
  }
  .select-styling-div {
    width: 55%;
    select {
     }
  }
  .gamelist-stay-small{
    img{
      height: 85px;
      max-width: 160px;
    }
  }
  .nominate-checkbox{
    top: 32px;
  }
  .vote-button{
    top: 32px;
  }
}

@media screen and (min-width: 801px) {
  body{
    max-width: 800px;
    border-left: solid #015C35 5px;
    border-right: solid #015C35 5px;
    margin: auto;
  }

  .logosmall {
    width: 140px;
  }

  .logolarge{
    width: 50%;
    margin-left: 15%;
  }

  .login-message{
    margin-bottom: 25%;
  }
}
