@media screen and (min-width: 501px) and (max-width: 650px){
  .logosmall{
    width: 15%;
  }
  .gamelist-ribbon img{
    max-width: 160px;
    height: 85px;
  }
}

@media screen and (min-width: 651px) and (max-width: 800px){
  .logosmall{
    width: 13%;
  }
  .gamelist-ribbon img{
    max-width: 210px;
    height: 150px;
  }
  .select-ribbon{
    width: 77%;
  }
}

@media screen and (min-width: 801px) and (max-width: 1000px){
  .logosmall{
    width: 13%;
  }
  .username-banner{
    margin-top: 40px;
    width: 35%;
    font-size: 1.5em;
    h4{
      margin-left: 10px;
    }
    aside{
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 2px;
    }
    a{
      float: left;
      margin-top: 10px;
    }
  }
  .input-ribbon{
    font-size: 1.5em;
  }
  .ribbon{
    font-size: 1.5em;
  }
  .gamelist-ribbon img{
    max-width: 260px;
    height: 180px;
  }
  .select-ribbon{
    width: 76.5%;
  }
  .select-arrow{
    width: 15px;
    height: 15px;
  }
}
