body{
  width: 100%;
}

.freeze-scrolling{
  overflow: hidden;
}

.clearfix{
  clear: both;
}

button{
  // display: block;
  // margin: auto;
  // width: 60%;
  // background-color: #015C35;
  // font-size: 1.25em;
  // color: white;
  // padding: 10px;
  // border-radius: 5px;
  // margin-top: 25px;
  // margin-bottom: 25px;
  // font-family: 'Libre Baskerville', serif;
}

.ribbon{
  background-color: #015C35;
  color: white;
  padding: 9px;
  font-size: 1em;
  clear: both;
  border: none;
}

.input-ribbon{
  background-color: white;
  border: 1px solid #bfbfbf;
  color: black;
  padding: 9px;
  font-size: 1em;
  text-align: center;
  clear: both;
  option:first-child{
    color: red;
  }
}

.gamelist-ribbon{
  width: 85%;
  height: 71px;
  padding-bottom: 4px;
  img{
    height: 65px;
    float: left;
    max-width: 100px;
  }
  h3{
    font-size: 1em;
    float: right;
    clear: right;
    margin: 3px;
    text-align: right;
    max-width: 60%;
  }
  aside{
    font-size: 0.7em;
    float: right;
    clear: right;
    margin: 3px;
    text-align: right;
  }
}

.right-ribbon{
  text-align: left;
  font-family: 'Libre Baskerville', serif;
  padding-right: 5%;
  padding-left: 12px;
  margin-bottom: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  float: right;
  &::-webkit-input-placeholder {
  color: black;
  }
  &::-moz-placeholder {
  color: black;
  }
  &:-ms-input-placeholder {
    color: black;
  }
  &:-moz-placeholder {
    color: black;
  }
}

.left-ribbon{
  font-family: 'Libre Baskerville', serif;
  padding-left: 20%;
  padding-right: 12px;
  margin-bottom: 10px;
  margin-left: -1px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  float: left;
  &::-webkit-input-placeholder {
  color: black;
  }
  &::-moz-placeholder {
  color: black;
  }
  &:-ms-input-placeholder {
    color: black;
  }
  &:-moz-placeholder {
    color: black;
  }
}

.select-ribbon{
  width: 78%;
}

#select-selector{
  padding-left: 33%;
}

#genre-selector{
  padding-left: 31%;
}


.main-content{
  width: 100%;
}

.headersmall{
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
}

.logolarge{
  display: block;
  width: 70%;
  margin: auto;
  margin-top: 25%;
  margin-bottom: 20%;
}

.logosmall{
  width: 20%;
  margin-left: 2%;
  margin-top: 2%;
  transition: all 0.5s ease-in;
}

.login-input{
  margin: auto;
  font-size: 1em;
  font-family: 'Libre Baskerville', serif;
  margin-top: 10%;
  width: 90%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  text-align: center;
  box-shadow: #bfbfbf 5px 5px 25px;
  display: block;
  &:focus{
    outline-color: white;
    border: solid black 2px
  }
}

.login-button{
  margin: auto;
  margin-top: 45px;
  padding: 7px;
  width: 70%;
  font-size: 1.25em;
  font-family: 'Libre Baskerville', serif;
  color: white;
  background-color: #015C35;
  border-radius: 5px;
  border: none;
  box-shadow: #bfbfbf 5px 5px 25px;
  display: block;
  &:focus{
    outline: none;
  }
}

.header-username{
  float: right;
  font-size: 1.5em;
  padding: 10px;
  padding-top: 25px;
  padding-bottom: 15px;
  margin-top: -5px;
  margin-right: 6%;
  background-color: #015C35;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 40%;
  text-align: center;
}

.logout-button{
  margin-top: 33px;
  text-decoration: none;
}

.login-message{
  display: block;
  margin: auto;
  font-size: 1.25em;
  background-color: #015C35;
  margin-top: 30px;
  color: white;
  text-align: center;
  width: 70%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: grey 5px 5px 25px;
}

.chooser-header{
}

.chooser-form{
  clear: both;
  margin: auto;
  margin-bottom: 10px;
  width: 100%;
  padding-top: 12px;
  border-bottom: solid #015C35 5px;
  border-top: solid #015C35 5px;
  label{
    font-size: 3em;
    padding-right: 10%;
  }
  input{
    // font-size: 1.15em;
    // font-family: 'Libre Baskerville', serif;
    // width: 80%;
    // height: 35px;
    // border-top-right-radius: 5px;
    // border-bottom-right-radius: 5px;
    // border: 1px solid #bfbfbf;
    // text-align: center;
    // box-shadow: #bfbfbf 5px 5px 25px;
    // margin-bottom: 10px;
    // margin-left: -3px;
    // display: block;
  }
  select{
    // font-size: 1.15em;
    // width: 80%;
    // border: solid #bfbfbf 1px;
    // text-align: center;
    // display: block;
    // margin-bottom: 10px;
    // margin-left: -1px;
    // box-shadow: #bfbfbf 5px 5px 25px;
    // height: 35px;
    // background-color: white;
    // padding-left: 22%;
    // color: #A9A9A9;
    // font-family: 'Libre Baskerville', serif;
    // border-radius: 0px;
    // border-top-right-radius: 5px;
    // border-bottom-right-radius: 5px;
    // .select-selector{
    //   padding-left: 19%;
    // }
  }
  .game-count{
    // background-color: #015C35;
    // color: white;
    // text-align: left;
    // font-family: 'Libre Baskerville', serif;
    // max-width: 25%;
    // padding: 9px;
    // padding-right: 20%;
    // margin-bottom: 10px;
    // border-top-left-radius: 5px;
    // border-bottom-left-radius: 5px;
    // font-size: 1em;
    // float: right;
    // clear: both;
  }
}

.chooser-info{
  display: none;
}

.chooser-button{
  margin: auto;
  width: 35%;
  margin-right: 3%;
  display: block;
  font-size: 1em;
  color: white;
  background-color: #015C35;
  border: 1px solid grey;
  padding: 8px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 5px;
  box-shadow: #bfbfbf 5px 5px 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Libre Baskerville', serif;
  float: right;
}

.add-game-button{
  // margin: auto;
  // width: 25%;
  // margin-right: 3%;
  // display: block;
  // font-size: 0.65em;
  // color: white;
  // background-color: #015C35;
  // border: 1px solid #bfbfbf;
  // padding: 5px;
  // padding-left: 0px;
  // padding-right: 0px;
  // border-radius: 5px;
  // box-shadow: #bfbfbf 5px 5px 25px;
  // margin-top: 27px;
  // margin-bottom: 20px;
  // font-family: 'Libre Baskerville', serif;
  // float: right;
}

.modal-background{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #bfbfbf;
  opacity: 0.7;
}

.modal{
  position: absolute;
  background-color: white;
  width: 75%;
  border: solid 1px #015C35;
  border-radius: 5px;
  top: 15%;
  left: 12%;
  padding-bottom: 8px;
  padding-top: 10px;
  box-shadow: black 5px 5px 25px;
  .left-ribbon{
    border-left: solid 1px #015C35;
    padding-left: 10%;
  }
  h3{
    margin-top: 10px;
    max-width: 70%;
  }
  ul{
    border-top: solid #015C35 5px;
    padding-top: 10px;
  }
  .find-game-button{
    font-size: 0.8em;
    padding: 5px;
    width: 45%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 4%;
    border: 1px solid #bfbfbf;
    box-shadow: #bfbfbf 5px 5px 25px;
    float: right;
  }
  .cancel-modal{
    font-size: 0.7em;
    width: 8%;
    height: 21px;
    padding: 0;
    position: relative;
    top: 0%;
    margin-top: 6px;
    margin-bottom: 5px;
    margin-left: 88%;
    border: 1px solid #bfbfbf;
    box-shadow: #bfbfbf 5px 5px 25px;
  }
  .aside-wrapper{
    width: 60%;
    float: right;
    height: 90%;
  }
}
