body{
  width: 100%;
}

button{
  display: block;
    margin: auto;
    width: 60%;
    background-color: #015C35;
    font-size: 3em;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.main-content{
  width: 100%;
}

.headersmall{
  border-bottom: 8px solid #015C35;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  padding-right: 3%;
}

.logolarge{
  width: 70%;
  margin-top: 25%;
  margin-left: 19%;
  margin-bottom: 10%;
}

.logosmall{
  width: 20%;
  margin-left: 2%;
  margin-top: 2%;
  transition: all 0.5s ease-in;
}

.login-input{
  font-size: 2.25em;
  font-family: 'Libre Baskerville', serif;
  margin-left: 4%;
  margin-top: 10%;
  width: 95%;
  height: 100px;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  text-align: center;
  box-shadow: #bfbfbf 5px 5px 25px;
  &:focus{
    outline-color: invert;
  }
}

.login-button{
  margin-left: 17%;
  margin-top: 95px;
  padding: 15px;
  width: 70%;
  font-size: 2.75em;
  font-family: 'Libre Baskerville', serif;
  color: white;
  background-color: #015C35;
  border-radius: 5px;
  border: none;
  box-shadow: #bfbfbf 5px 5px 25px;
  &:focus{
    outline: none;
  }
}

.header-username{
  float: right;
  font-size: 5em;
  margin-top: 4.5%;
  padding: 12px;
  color: black;
  margin-right: 8%;
  font-weight: bold;
  text-shadow: #bfbfbf 5px 5px 25px;
  -webkit-text-stroke: 1px black;
}

.logout-button{
  float: right;
  font-size: 3em;
  text-decoration: none;
  margin-top: 7.5%;
  margin-right: 0%;
  color: white;
  font-weight: bold;
  background-color: #015C35;
  padding: 12px;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  transition: all 0.5s ease-in;
  box-shadow: #bfbfbf 5px 5px 25px;
}

.login-message{
  font-size: 3em;
  background-color: #015C35;
  margin-top: 90px;
  color: white;
  text-align: center;
  width: 80%;
  margin-left: 70px;
  padding: 40px;
  border-radius: 5px;
  box-shadow: grey 5px 5px 25px;
}

.chooser-header{
  width: 50%;
  font-size: 3.5em;
  text-align: center;
  float: right;
  background-color: #015C35;
  color: white;
  padding: 10px;
  border-bottom-left-radius: 59px;
  padding-bottom: 20px;
  padding-right: 0px;
  margin-top: -1px;
}

.chooser-form{
  clear: both;
  margin: auto;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 15px;
  border-bottom: solid #015C35 5px;
  label{
    font-size: 3em;
    padding-right: 10%;

  }
  input{
    font-size: 2.5em;
    width: 80%;
    border: solid grey 1px;
    text-align: center;
    margin: auto;
    display: block;
    margin-bottom: 30px;
    box-shadow: grey 5px 5px 25px;
    height: 80px;
    font-family: 'Libre Baskerville', serif;
  }
  select{
    font-size: 2.5em;
    width: 80%;
    border: solid grey 1px;
    text-align: center;
    margin: auto;
    display: block;
    margin-bottom: 30px;
    box-shadow: grey 5px 5px 25px;
    height: 80px;
    background-color: white;
    padding-left: 26%;
    color: #A9A9A9;
    font-family: 'Libre Baskerville', serif;
    .select-selector{
      padding-left: 24%;
    }
  }
}

.chooser-info{
  display: none;
}

.chooser-button{
  margin: auto;
  display: block;
  font-size: 3em;
  color: white;
  background-color: #015C35;
  border: 1px solid grey;
  padding: 15px;
  padding-left: 55px;
  padding-right: 55px;
  border-radius: 5px;
  box-shadow: grey 5px 5px 25px;
  margin-top: 55px;
  margin-bottom: 35px;
  font-family: 'Libre Baskerville', serif;
}

.add-game-button{
  display: none;
}
