body{
  width: 100%;
}

.freeze-scrolling{
  overflow: hidden;
}

.clearfix{
  clear: both;
}

.right-ribbon:focus{
  border: solid #015C35 2px;
  border-right: none;
  outline: none;
  box-shadow: #015C35 0px 0px 5px;
}

.left-ribbon:focus{
  border: solid #015C35 2px;
  border-left: none;
  outline: none;
  box-shadow: #015C35 0px 0px 5px;
}


input:focus{
  border: solid #015C35 2px;
  border-left: none;
  outline: none;
  box-shadow: #015C35 0px 0px 5px;
}

select:focus{
  border: solid #015C35 2px;
  border-left: none;
  outline: none;
  box-shadow: #015C35 0px 0px 5px;
}

.select-arrow{
  position: relative;
  right: 26%;
  top: 14px;
  float: right;
  border-bottom: #015C35 solid 1px;
  border-right: #015C35 solid 1px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  z-index: 1;
}

.ribbon{
  background-color: white;
  color: #015C35;
  padding: 9px;
  font-size: 1em;
  clear: both;
  border: 2px solid #015C35;
  max-width: 65%;
  transition: all 0.5s ease-in;
}

.input-ribbon{
  background-color: white;
  color: #015C35;
  padding: 9px;
  font-size: 1em;
  text-align: center;
  clear: both;
  border: 2px solid #015C35;
}

.gamelist-ribbon{
  width: 85%;
  height: 71px;
  padding-bottom: 4px;
  max-width: 85%;
  img{
    height: 65px;
    float: left;
    max-width: 100px;
  }
  h3{
    font-size: 1em;
    float: right;
    clear: right;
    margin: 3px;
    text-align: right;
    max-width: 60%;
  }
  aside{
    font-size: 0.7em;
    float: right;
    clear: right;
    margin: 3px;
    text-align: right;
  }
}

.right-ribbon{
  text-align: left;
  font-family: 'Libre Baskerville', serif;
  padding-right: 5%;
  padding-left: 12px;
  margin-bottom: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
  float: right;
  &::-webkit-input-placeholder {
  color: #015C35;
  }
  &::-moz-placeholder {
  color: #015C35;
  }
  &:-ms-input-placeholder {
    color: #015C35;
  }
  &:-moz-placeholder {
    color: #015C35;
  }
}

.left-ribbon{
  font-family: 'Libre Baskerville', serif;
  padding-left: 20%;
  padding-right: 12px;
  margin-bottom: 10px;
  margin-left: -1px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  float: left;
  border-left: none;
  &::-webkit-input-placeholder {
  color: #015C35;
  }
  &::-moz-placeholder {
  color: #015C35;
  }
  &:-ms-input-placeholder {
    color: #015C35;
  }
  &:-moz-placeholder {
    color: #015C35;
  }
}

.select-ribbon{
  width: 78%;
}

#genre-selector{
  padding-left: 40%;
}

#select-selector{
  padding-left: 38%;
}

.ribbon-noclick{
  background-color: #015C35;
  color: white;
}

.results{
  max-width: 85%;
  width: 85%;
  img{
    margin: auto;
    display: block;
    width: 65%;
    margin-bottom: 10px;
  }
  div{
    margin: auto;
    width: 90%;
    text-align: center;
  }
  h3{
    font-size: 2em;
  }
}

.main-content{
  width: 100%;
}

.headersmall{
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  border-bottom: solid 5px #015C35;
}

.logolarge{
  display: block;
  width: 70%;
  margin: auto;
  margin-top: 25%;
  margin-bottom: 20%;
}

.logosmall{
  width: 20%;
  margin-left: 2%;
  margin-top: 2%;
  transition: all 0.5s ease-in;
}

.login-input{
  margin: auto;
  font-size: 1em;
  font-family: 'Libre Baskerville', serif;
  margin-top: 10%;
  width: 90%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  text-align: center;
  box-shadow: #bfbfbf 5px 5px 25px;
  display: block;
  &:focus{
    outline-color: white;
    border: solid black 2px
  }
}

.login-button{
  margin: auto;
  margin-top: 45px;
  padding: 7px;
  width: 70%;
  font-size: 1.25em;
  font-family: 'Libre Baskerville', serif;
  color: white;
  background-color: #015C35;
  border-radius: 5px;
  border: none;
  box-shadow: #bfbfbf 5px 5px 25px;
  display: block;
  &:focus{
    outline: none;
  }
}

.header-username{
  float: right;
  font-size: 1.5em;
  padding: 10px;
  padding-top: 25px;
  padding-bottom: 15px;
  margin-top: -5px;
  margin-right: 6%;
  background-color: #015C35;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 40%;
  text-align: center;
}

.username-banner{
  margin-top: 20px;
  h4{
    float: left;
    font-size: 1.25em;
  }
  aside{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  a{
    text-decoration: none;
    color: #015C35;
    font-size: 0.7em;
  }
}

.login-message{
  display: block;
  margin: auto;
  font-size: 1.25em;
  background-color: #015C35;
  margin-top: 30px;
  color: white;
  text-align: center;
  width: 70%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: grey 5px 5px 25px;
}

.chooser-header{
}

.description-section{
  clear: both;
  padding-top: 10px;
}

.chooser-info{
  display: none;
}

.chooser-button{
  margin: auto;
  width: 35%;
  margin-right: 3%;
  display: block;
  font-size: 1em;
  color: white;
  background-color: #015C35;
  border: 1px solid grey;
  padding: 8px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 5px;
  box-shadow: #bfbfbf 5px 5px 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Libre Baskerville', serif;
  float: right;
}

.add-game-button{
  // margin: auto;
  // width: 25%;
  // margin-right: 3%;
  // display: block;
  // font-size: 0.65em;
  // color: white;
  // background-color: #015C35;
  // border: 1px solid #bfbfbf;
  // padding: 5px;
  // padding-left: 0px;
  // padding-right: 0px;
  // border-radius: 5px;
  // box-shadow: #bfbfbf 5px 5px 25px;
  // margin-top: 27px;
  // margin-bottom: 20px;
  // font-family: 'Libre Baskerville', serif;
  // float: right;
}

.modal-background{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #bfbfbf;
  opacity: 0.7;
}

.modal{
  position: absolute;
  background-color: white;
  width: 75%;
  border: solid 1px #015C35;
  border-radius: 5px;
  top: 15%;
  left: 12%;
  padding-bottom: 8px;
  padding-top: 10px;
  box-shadow: black 5px 5px 25px;
  z-index: 2;
  .left-ribbon{
    border-left: solid 1px #015C35;
    padding-left: 10%;
  }
  h3{
    margin-top: 10px;
    max-width: 70%;
  }
  ul{
    border-top: solid #015C35 5px;
    padding-top: 10px;
  }
  .find-game-button{
    font-size: 0.8em;
    padding: 5px;
    width: 45%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 4%;
    border: 1px solid #bfbfbf;
    box-shadow: #bfbfbf 5px 5px 25px;
    float: right;
  }
  .cancel-modal{
    font-size: 0.7em;
    width: 8%;
    height: 21px;
    padding: 0;
    position: relative;
    top: 0%;
    margin-top: 6px;
    margin-bottom: 5px;
    margin-left: 88%;
    border: 1px solid #bfbfbf;
    box-shadow: #bfbfbf 5px 5px 25px;
  }
  .aside-wrapper{
    width: 60%;
    float: right;
    height: 90%;
  }
}

.gamelist{
  list-style: none;
  border-top: solid #015C35 5px;
  padding-top: 10px;
}
